# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.Rproj.user
src/.DS_Store
src/python/.DS_Store
src/R/.DS_Store
data/.DS_Store
data/definitions/.DS_Store
data/legislation/.DS_Store
data/legislation/Brazil/.DS_Store
data/legislation/Philippines/.DS_Store
.DS_Store
.RData
.Rhistory

/.luarc.json
data/legislation/Brazil/BR_Decree 7624:2011.pdf
data/legislation/Brazil/BR_Decree 10446:2020.pdf
data/legislation/Brazil/BR_Law 5862:1972.pdf
data/legislation/Brazil/BR_Law 6009:1973 .pdf
data/legislation/Brazil/BR_Law 7565:1986 Brazilian Aeronautical Code.pdf
data/legislation/Brazil/BR_Law 13319:2016.pdf
data/legislation/Brazil/BR_Law 13499:2017.pdf
data/legislation/Brazil/BR_RBAC 119:2009.pdf
data/legislation/Brazil/BR_RBAC 139.pdf
data/legislation/Brazil/BR_RBAC 153:2010.pdf
data/legislation/Brazil/BR_RBAC 154:2017-compressed.pdf
data/legislation/Brazil/BR_RBAC 154:2017.pdf
data/legislation/Brazil/BR_RBAC 158:201.pdf
data/legislation/Brazil/BR_RBAC 181:2011.pdf
data/legislation/Brazil/BR_RBAC 302:2014.pdf
data/legislation/Brazil/BR_RBAC 508:2019.pdf
data/legislation/Brazil/BR_Resolution 140:2010.pdf
data/legislation/Brazil/BR_Resolution 191:2011.pdf
data/legislation/Brazil/BR_Resolution 192:2011.pdf
data/legislation/Brazil/BR_Resolution 330:2014.pdf
data/legislation/Brazil/BR_Resolution 440:2017.pdf
data/legislation/Brazil/BR_Resolution 491:2018.pdf
data/legislation/Brazil/BR_Resolution 659:2022.pdf
data/legislation/Brazil/Translated/BR_Decree 7624_2011 en-US.pdf
data/legislation/Brazil/Translated/BR_Decree 10446_2020 en-US.pdf
data/legislation/Brazil/Translated/BR_Law 5862_1972 en-US.pdf
data/legislation/Brazil/Translated/BR_Law 6009_1973  en-US.pdf
data/legislation/Brazil/Translated/BR_Law 7565_1986 Brazilian Aeronautical Code en-US.pdf
data/legislation/Brazil/Translated/BR_Law 13319_2016 en-US.pdf
data/legislation/Brazil/Translated/BR_Law 13499_2017 en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 119_2009 en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 139 en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 153_2010 en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 154_2017-compressed en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 158_201 en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 181_2011 en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 302_2014 en-US.pdf
data/legislation/Brazil/Translated/BR_RBAC 508_2019 en-US.pdf
data/legislation/Brazil/Translated/BR_Resolution 140_2010 en-US.pdf
data/legislation/Brazil/Translated/BR_Resolution 191_2011 en-US.pdf
data/legislation/Brazil/Translated/BR_Resolution 192_2011 en-US.pdf
data/legislation/Brazil/Translated/BR_Resolution 330_2014 en-US.pdf
data/legislation/Brazil/Translated/BR_Resolution 440:2017 en-US.pdf
data/legislation/Brazil/Translated/BR_Resolution 491_2018 en-US.pdf
data/legislation/Brazil/Translated/BR_Resolution 659_2022 en-US.pdf
data/legislation/Brunei/BN_Companies Act Chapter 39, 2016.pdf
data/legislation/Brunei/BN_Monopolies Act Chapter 73 2003.pdf
data/legislation/Brunei/BN_Post Office Act Chapter 52 1984.pdf
data/legislation/Brunei/BN_Post Office Rules 1993.pdf
data/legislation/For OCR/(For OCR) PH OCA 64 2011.pdf
data/legislation/For OCR/(For OCR) PH_BOC MOA with PHLPOST 2016.pdf
data/legislation/For OCR/(For OCR) PH_CSC COA DBM Joint Circular 1 2017.pdf
data/legislation/For OCR/(For OCR) PH_CSC COA DBM Joint Circular 1 Amendment 2018.pdf
data/legislation/For OCR/(For OCR) PH_EO 44 2017.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-04.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-05.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-06.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-07.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-09.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-10.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-21.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2012-22.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2013-04.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2013-05.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2013-06.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2014-03 v2021.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2015-01.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2015-03.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2015-04.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2015-07.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2015-08.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2016-02.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2017-02.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2017-03.pdf
data/legislation/For OCR/(For OCR) PH_GCG MC 2018-02.pdf
data/legislation/For OCR/(For OCR) PH_GCG MOA with Ombudsman 2013.pdf
data/legislation/For OCR/(For OCR) PH_GCG MOA with SEC 2014.pdf
data/legislation/For OCR/(For OCR) PH_SB 1754 Amendment to PSA 2018.pdf
data/legislation/Indonesia/IN Laws.xlsx
data/legislation/Indonesia/IN_Law 01:2004 State Treasury.pdf
data/legislation/Indonesia/IN_Law 05:1999 Monopolistic Practices and Unfair Business Competition.pdf
data/legislation/Indonesia/IN_Law 07:2014 Trade.pdf
data/legislation/Indonesia/IN_Law 08:1995 Capital Market.pdf
data/legislation/Indonesia/IN_Law 13:2003 Manpower.pdf
data/legislation/Indonesia/IN_Law 14:2008 Public Information Disclosure.pdf
data/legislation/Indonesia/IN_Law 17:2017 Long-Term National Development Plan (2005-2025).pdf
data/legislation/Indonesia/IN_Law 19:2003 State-Owned Enterprises.pdf
data/legislation/Indonesia/IN_Law 25:2007 Investment.pdf
data/legislation/Indonesia/IN_Law 38:2009 Post.pdf
data/legislation/Indonesia/IN_Law 40:2007 Limited Liability Companies.pdf
data/legislation/Indonesia/IN_PR 16:2018 Government Procurement.pdf
data/legislation/Indonesia/IN_PR No. 44:2016 Negative Investment List.pdf
data/legislation/Indonesia/IN_Regulation 5:2013 Implementation of Post Law.pdf
data/legislation/Indonesia/IN_Regulation 7:2018 Electronically Integrated Business Licensing.pdf
data/legislation/Indonesia/IN_Regulation 30:PMK.08:2012 Government Assurance Obligation Budget.pdf
data/legislation/Indonesia/IN_Regulation 33:POJK.04:2014 Public Companies.pdf
data/legislation/Indonesia/IN_Regulation 36:M-DAG:PER:9:2007 Trade Licenses.pdf
data/legislation/Indonesia/IN_Regulation 155:PMK.02:2010 Postal General Service Obligations.pdf
data/legislation/Indonesia/IN_Regulation 176:PMK.011:2009 Import Duties.pdf
data/legislation/Malaysia/MY Laws.xlsx
data/legislation/Malaysia/MY_Act 91 Courts of Judicature Act 1964.pdf
data/legislation/Malaysia/MY_Act 235 Customs Act 1967.pdf
data/legislation/Malaysia/MY_Act 452 Employees Provident Fund Act 1991.pdf
data/legislation/Malaysia/MY_Act 589 Communication and Multimedia Commission Act 1998.pdf
data/legislation/Malaysia/MY_Act 658 Electronic Commerce Act 2006.pdf
data/legislation/Malaysia/MY_Act 712 Competition Act 2010.pdf
data/legislation/Malaysia/MY_Act 741 Postal Services Act 2012.pdf
data/legislation/Malaysia/MY_Guidelines for Dispute Resolution July 2003.pdf
data/legislation/Malaysia/MY_Non-Universal Service License Application Guidelines.pdf
data/legislation/Malaysia/MY_Postal Service Regulations 2015 Licensing.pdf
data/legislation/Malaysia/MY_Postal Service Regulations 2015 Universal Service.pdf
data/legislation/Malaysia/MY_Postal Service Regulations 2020 Postage Rates.pdf
data/legislation/Philippines/PH Laws.xlsx
data/legislation/Philippines/PH_CA 146 Public Service Act 1936.pdf
data/legislation/Philippines/PH_Constitution Republic of the Philippines 1987.pdf
data/legislation/Philippines/PH_EO 7 2010.pdf
data/legislation/Philippines/PH_EO 24 2011.pdf
data/legislation/Philippines/PH_EO 47 2011.pdf
data/legislation/Philippines/PH_EO 80 2012.pdf
data/legislation/Philippines/PH_EO 203.pdf
data/legislation/Philippines/PH_EO 292 Administrative Code 1987.pdf
data/legislation/Philippines/PH_GR 105371 Franking Privilege 1993.pdf
data/legislation/Philippines/PH_RA 4136 Land Transportation Act 1964.pdf
data/legislation/Philippines/PH_RA 7160 Local Government Code 1991.pdf
data/legislation/Philippines/PH_RA 7354 Postal Service Act 1992.pdf
data/legislation/Philippines/PH_RA 8794 Motor Vehicle User Charge Law 2000.pdf
data/legislation/Philippines/PH_RA 9184 Government Procurement Act 2002.pdf
data/legislation/Philippines/PH_RA 9184 Government Procurement Act IRR 2016.pdf
data/legislation/Philippines/PH_RA 9337 Amendments to Internal Revenue Code 2005.pdf
data/legislation/Philippines/PH_RA 10149 GOCC Governance Act 2011.pdf
data/legislation/Philippines/PH_RA 10844 DICT Act 2016.pdf
data/legislation/Philippines/PH_RA 11032 EODB 2017.pdf
data/legislation/Philippines/PH_RA 11232 Revised Corporation Code 2019.pdf
data/legislation/Singapore/SG Laws.xlsx
data/legislation/Singapore/SG_Control of Designated Postal Licence 2012.pdf
data/legislation/Singapore/SG_Guidelines for Express Letter Service 2019.pdf
data/legislation/Singapore/SG_Guidelines for Postal Service Operations 2019.pdf
data/legislation/Singapore/SG_License to Provide Postal Services Asendia 2017.pdf
data/legislation/Singapore/SG_License to Provide Postal Services DHL 2019.pdf
data/legislation/Singapore/SG_License to Provide Postal Services SP 2017.pdf
data/legislation/Singapore/SG_License to Provide Postal Services WMG 2018.pdf
data/legislation/Singapore/SG_Postal Accounting Separation Framework 2010.pdf
data/legislation/Singapore/SG_Postal Competition Code 2017.pdf
data/legislation/Singapore/SG_Postal Services Act Chapter 237A.pdf
data/legislation/Singapore/SG_Postal Services Act Regulation 2005.pdf
data/legislation/Singapore/SG_Postal Services Act Regulation Amendment 2008.pdf
data/legislation/Singapore/SG_Postal Services Amendment 2021.pdf
data/legislation/Singapore/SG_Postal Services Composition of Offences 2008.pdf
data/legislation/Singapore/SG_Postal Services Operations Code 2017.pdf
data/legislation/Singapore/SG_Public Consultation Paper on Draft Amendment 2020.pdf
data/definitions/oecd-definitions.pdf
data/legislation/Brazil/competition-assessment-reviews-brazil-2022-legislation-screening-by-sector.xlsx
data/glove/glove.6B.50d.txt
.gitignore
data/glove/glove.6B.100d.txt
data/glove/glove.6B.200d.txt
.gitignore
data/glove/glove.6B.300d.txt
models (backup)/